.notification{
  display: flex;
  background-color: transparent !important;
  box-shadow: none !important;
  border: 0px  !important;
  outline: 0px !important;
}

.icon-notif {
  color: black;
  width: 20px;
  height: 20px;
}


.circle-notif {
  background: #ce3426;
  color: #ce3426;
  border-radius: 100px;
  width: 5px;
  height: 5px;
}

.circle-read {
  background: #335EF7;
  color: #335EF7;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-right: 10px;
}

.notif-content:hover{
  background-color: #F5F8FB;
}

.notif-content{
  outline: 0px;
  padding: 8px 10px;
}

.header-mark{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.date{
  margin: 1% 0% 0% 6% !important;
}

.scroll{
  box-shadow: 0px 0px 30px rgba(19, 10, 46, 0.08), 0px 0px 20px rgba(19, 10, 46, 0.07);
  border-radius: 16px 0px 0px 16px;
  border: 0;
  overflow-y: scroll;
}

.dropdown-content-notif::-webkit-scrollbar{
  width: 5px;
  height: 50px;
} 

.dropdown-content-notif::-webkit-scrollbar-thumb{
  border-radius: 200px;
  background: #B5B5BD;;  
}

.dropdown-content-notif::-webkit-scrollbar-track{
  background-color: white;
}

.dropdown-content-notif {
  display: none;
  position: absolute;
  right: 0;
  width: max-content;
  background-color: white;
  margin: 5px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 300px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #425466;
}

/* Change color of dropdown links on hover */
.dropdown-content-notif:hover {
  background-color: white;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown-admin:hover .dropdown-content-notif {
  display: block;
  height: 70vh;
}

