.title{
  font-weight: bold;
  width: 100% !important;
}

.p-container{
  padding: 10% 15%;
}

.bg_banner{
  background:linear-gradient(56.36deg, #335EF7 6.45%, #5F7BFF 102.72%);
}

.banner{
  width: 100%;
  padding: 10% 10% 5% 10%;
}

.left-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img-fluid{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-top: 10%;
  z-index: 1;
}


.position_text_title {
  color: #ffffff;
  max-width: 20ch;
  position: fixed;
  top: 75%;
  left: 25%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.position_text {
  color: #ffffff;
  max-width: 50ch;
  position: fixed;
  top: 80%;
  left: 25%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.ellipse {
  position: fixed;
  bottom: 71%;
  left: 3%;
}
.ellipse2 {
  position: fixed;
  bottom: 0%;
  left: 0%;
}
.button {
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
}

.button_2 {
  border-color: black;
  color: black;
}

.my-3 {
  color: black;
  text-align: center;
}

.err-Msg {
  color: #ce3426;
}
