.wrap{
    width: 100%;
    position: relative;
    height: max-content;
}


.circle{
    background: #7C8B99;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.progress{
    position: absolute;
    top: 30%;
    left: 24%;
    right: 24%;
    height: 2px; 
    width: 56%;
}

.progres-info{
    font-size: 12px;
    font-weight: 600;
    color: #425466;
}