.navbar {
  background: #335ef7;
  color: white;
}

.nav-item {
  text-decoration: none;
  padding: 5px 16px;
  color: white;
}

.nav-item:hover{
  cursor: pointer;
  color: white;
}

.decoration {
  width: 106px;
  height: 37px;
  border: 1.5px solid #ffffff;
  border-radius: 100px;
}
