.bg_banner {
  background-color: #d9d9d9;
  height: 100vh;
}

.title {
  font-weight: bold;
  width: 20px;
}

.img-fluid {
  width: 400px;
  height: auto;
  margin-right: auto;
  margin-left: 17%;
  margin-top: 10%;
}

.position_text_title {
  max-width: 20ch;
  position: fixed;
  top: 65%;
  left: 25%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.position_text {
  max-width: 50ch;
  position: fixed;
  top: 77%;
  left: 25%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.button {
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
}

.button_2 {
  border-color: black;
  color: black;
}

.my-3 {
  color: black;
  text-align: center;
}

.err-Msg {
  color: red;
  bottom: 100%;
}
