.table_header {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: -12px;
}

.mentor_img_1 {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.mentor_img_2 {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin-left: -12px;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.title {
    margin-left: -8px;
}

thead {
    background-color: #FFFFFF;
}

.alert_delete {
    display: inline-block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    vertical-align: middle;
}

.card_alert {
    border-radius: 8px;
    border: 0.5px solid rgba(255, 0, 0, 0.753);
}

.accordion-button:not(.collapsed) {
    color: black;
    border: none;
}

.accordion-button {
    border-width: 0;
}

.accordion-item {
    border-bottom: 1px #7C8B99;
    border-left: 0;
    border-right: 0;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
    background-color: unset;
}

.accordion-item:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
}

.accordion-item:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion-item:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.table>:not(caption)>*>* {
    border-bottom-color: white;
    padding: 0px;
}

.table> :not(:first-child) {
    border-top: 0px;
}