.card_mentor_container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding: 4rem 2rem;
}

.see_all {
    cursor: pointer;
}

.card_mentor_container::-webkit-scrollbar {
    display: none;
}

.card_mycourse {
    margin: 4rem 3rem;
}

.card_class_category {
    padding: 3rem 4.25rem;
}

.joc {
    padding: 4rem 6rem;
}

.banner_joc {
    height: 260px;
    width: auto;
}

.card_mentor {
    max-width: 280px;
    max-height: 350px;
    border-radius: 20px;
    margin: 0 1rem;
}

.card_mentor img {
    max-width: 280px;
    max-height: 290px;
    width: auto;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.data_mentor {
    padding: 0.5rem 1rem;
}

.review_container {
    padding: 3rem 4rem;
}

.review_container h3 {
    margin-bottom: 3rem;
}