@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

.display_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.heading_1_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.heading_2_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.heading_3_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.heading_4_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.heading_5_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.subtitle_1_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.subtitle_2_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.body_1_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.body_2_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.caption_1_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.caption_2_user {
  font-family: 'Urbanist', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.display {
  font-family: 'Inter', sans-serif;
  font-size: 42px;
  font-weight: 600;
}

.heading_1 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.heading_2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.heading_3 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.heading_4 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.heading_5 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.subtitle_1 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.subtitle_2 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.body_1 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.body_2 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.caption_1 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.caption_2 {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.bg_primary {
  background-color: #335ef7;
}

.primary {
  color: #335ef7;
}

.bg_secondary_1 {
  background-color: #ff8819;
}

.secondary_1 {
  color: #ff8819;
}

.bg_secondary_2 {
  background-color: #232945;
}

.secondary_2 {
  color: #232945;
}

.success {
  background-color: #157f40;
}

.error {
  background-color: #ce3426;
}

.bg_neutral_1 {
  background-color: #f5f8fb;
}

.neutral_1 {
  color: #f5f8fb;
}

.bg_neutral_2 {
  background-color: #7c8b99;
}

.neutral_2 {
  color: #7c8b99;
}

.bg_neutral_3 {
  background-color: #425466;
}

.neutral_3 {
  color: #425466;
}

.bg_neutral_4 {
  background-color: #ffffff;
}

.neutral_4 {
  color: #ffffff;
}

.bg_neutral_5 {
  background-color: #b5b5bd;
}

.neutral_5 {
  color: #b5b5bd;
}
