.icon-popuplogout {
  margin-top: 15%;
  margin-left: 35%;
}
.titlePoupLogout {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: #425466;
}
.content-popupLogout {
  margin-top: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #425466;
  text-align: center;
}
.warpbtn-popuplogout {
  margin-top: 16%;
  margin-bottom: 5%;
  justify-content: center;
  display: flex;
  gap: 24px;
}
.btn-logout {
  color: white;
  font-weight: 600;
  border-radius: 8px;
  background-color: #335ef7;
  width: 200px;
  height: 45px;
}
.btn-logout:hover {
  color: white;
  font-weight: 600;
  border-radius: 8px;
  background-color: #232945;
  width: 200px;
  height: 45px;
}
